@model List<MarbleItalia.Controllers.SlabsController.Slabs>
@{
    ViewBag.Title = "Calacatta  Marble Supplier | Walls & Floors Tiles";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section Meta{
    <meta name="description" content="Calacatta marble cut to size for bespoke project, slabs, tiles for bathrooms, kitchens, book matched walls, hallways, conservatories. Direct Importers." />
    <meta name="keywords" content="Calacatta marble, Calacatta marble supplier, Calacatta marble tiles, Calacatta marble bathrooms, Calacatta marble kitchens" />
}
@section Style{
    <link href="~/Content/materials.css" rel="stylesheet" />
    <link href="~/Scripts/fancybox/jquery.fancybox.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Scripts/fancybox/jquery.fancybox.js"></script>
    <!-- Modal -->
    <div class="modal fade" id="slabsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-sm-6 v-center">
                            <a id="Bookmatch" class="materialGallery" rel="material">
                                <img style="max-height:400px; max-width:100%" />
                            </a>
                        </div>
                        <div class="col-sm-6 v-center">
                            <a id="material" class="materialGallery" rel="material">
                                <img style="max-height:400px;max-width:100%" />
                            </a>
                        </div>
                    </div>
                    <div style="text-align:center;margin:20px 0">
                        <a class="btn btn-lg btn-mrb-light" href="/quote?ref=@ViewBag.MaterialType">Get a Quote</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-mrb-light" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#slabsModal').on('show.bs.modal', function (e) {
            // do something...
            $(this).find("#myModalLabel").text(e.relatedTarget.title);
            $(this).find("#Bookmatch img").attr("src", e.relatedTarget.dataset.image);
            $(this).find("#material img").attr("src", e.relatedTarget.dataset.image2);

            $(this).find("#Bookmatch").attr("href", e.relatedTarget.dataset.image);
            $(this).find("#material").attr("href", e.relatedTarget.dataset.image2);
        })
        $(document).ready(function () {
            $(".materialGallery").fancybox();

            $('.btn-stock').click(function () {
                $("body").animate({ scrollTop: $("#liveStock").offset().top - 110 }, 2000);
            });


        });
        $(window).load(function () {
            $('.carousel-inner').cycle({
                fx: 'fade',
                timeout: 5000,
                speed: 1000,
                pager: '.carousel-indicators',
                activePagerClass: 'active',
                after: function (el, next_el) {
                    $(next_el).addClass('activeSlide');
                },
                before: function (el) {
                    $(el).removeClass('activeSlide');
                }
            });
        });
    </script>
}
@section Header{
    <div class="animatedParent animateOnce">
        <div class="animated fadeInDown">

            <div id="slabsCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item-slide">
                        <img src="/Images/slide/slabs/calacatta-borghini.jpg" />
                    </div>
                    <div class="item-slide">
                        <img src="/Images/slide/slabs/CALACATTA-Bookmatch-MI-0637.jpg" alt="" />
                    </div>
                    <div class="item-slide">
                        <img src="/Images/slide/slabs/calacatta-borghini-range-rover.jpg" />
                    </div>
                </div>

                <div class="carousel-indicators" style="z-index:100;bottom:130px">
                </div>
                <div class="title">
                    <h2>@ViewBag.MaterialType Marble</h2>

                    @if (Model != null && Model.Any())
                    {
                        <a class="btn btn-mrb-light btn-lg btn-stock pull-right" href="#">Live Stocks</a>
                    }
                </div>
                @*<a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>*@
            </div>
        </div>
    </div>
}
<div class="">
    <div class="container body-content">
        <p>
            Calacatta marble is a white-coloured marble with darkish grey veins. Calacatta marble, together with Statuario is part of the top range of quality marble coming from the Carrara area. Calacatta marble shows a bolder veins pattern and much whiter background colour compared to Carrara or Arabescato marble.
        </p>
        <p>
            Calacatta marble is mainly used in interior applications for flooring, covering walls and kitchen or vanity tops. It’s also often used for book matched applications which allows its beauty to stand out.
        </p>
        <p>
            With our existing extensive ranges of stone tiles, we can now supply cut to size slabs and bespoke size stone tiles to your specification. We can also help and assist you in regards to pricing and availability.
        </p>

        @if (Model != null && Model.Any())
        {
            <h3 id="liveStock">Live Stock @ViewBag.MaterialType</h3>
            <div class="row">
                @foreach (var m in Model)
                {
                    <div class="col-sm-3 col-xs-6">
                        <div class="slabContainer" data-toggle="modal" data-target="#slabsModal" title="@m.Name"
                             data-image="@m.BasePath@m.Name/@m.images[0]"
                             data-image2="@(m.images.Count > 1 ? m.BasePath + m.Name+"/"+m.images[1] : string.Empty)">
                            <div class="slabImage" style="background-image:url('@m.BasePath@m.Name/@m.DefaultImage')">

                            </div>
                            <div class="slabText">@m.Name</div>
                        </div>
                    </div>
                }
            </div>

        }
    </div>
</div>
<div class="container-fluid fatfooter" style="background-image:url('/Images/slabs-footer.jpg');background-position:center; padding:50px 0; margin-top:30px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p style="font-weight:300;font-size:28px;margin-bottom:20px">Request a quote, we will contact you within 48 hours.</p>
                <a href="/quote?ref=@ViewBag.MaterialType" class="btn btn-default btn-lg" title="Get a quote">GET A QUOTE</a>
            </div>
        </div>
    </div>
</div>


<div class="animatedParent animateOnce">
    <div class="container body-content animated fadeIn">
        <h3 class="text-center">Any Question?</h3>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p>
                    Please check our <a href="/faq" style="text-decoration:underline">Frequently Asked Questions</a> page.
                </p>
                <div>
                    OR
                </div>
                <p>
                    Get in touch for more information
                </p>
                <form id="formContact" action="/contact" method="post" class="lineStyle">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nameContact" name="name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control required" name="mail" id="EmailContact" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <textarea name="txtMessage" rows="5" class="form-control required" placeholder="Message"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default pull-right">SEND</button>
                    <div class="clearfix"></div>
                </form>

            </div>
        </div>
    </div>
</div>
